<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463819905824-4scq6mhoeio0vkffaq6ntjfvcp9k8sgv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463819905824-4scq6mhoeio0vkffaq6ntjfvcp9k8sgv</string>
	<key>API_KEY</key>
	<string>AIzaSyA5OsY0LsbDhP3fUNt19e0kGJ6QWnja91s</string>
	<key>GCM_SENDER_ID</key>
	<string>463819905824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.verespro.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-13-b7515</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-13-b7515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463819905824:ios:e80ac84cffab58927e1545</string>
</dict>
</plist>